/* red */
.hs-comment    {color: #a66;}
.hs-comment a  {color: #a44;}

/* green */
.hs-keyglyph   {color: #262;}
.hs-conop      {color: #262;}
.hs-varop      {color: #282;}
.hs-str        {color: #686;}
.hs-chr        {color: #282;}
.hs-num        {color: #484;}

/* blue */
.hs-layout     {color: #aaf;}
.hs-keyword    {color: #00a; font-weight: bold;}
.hs-conid      {color: #66a;}
.hs-varid      {color: #004;}
.hs-cpp        {color: #66a;}
.hs-sel        {}
.hs-definition {color: #004; font-weight: bold;}

/* For Mouseover Annotations */

a.annot{
    position:relative; 
    color:#000;
    text-decoration:none
  }

a.annot:hover{z-index:25; background-color:#ff0}

a.annot span.annottext{display: none}

a.annot:hover span.annottext{ 
  border-radius: 5px 5px;
  
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 

  display:block;
  position: absolute; 
  left: 1em; top: 2em; 
  z-index: 99;
  margin-left: 5; 
  background: #FFFFAA; 
  border: 2px solid #FFAD33;
  padding: 0.8em 1em;
}
